/* POLICES D'ÉCRITURE */
@font-face {
    font-family: "Unna";
    src: url("../fonts/Unna.ttf");
}

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans.ttf");
}

/* STYLES GLOBAUX */
a {
    text-decoration: none;
}

body {
    margin: 0;
    min-width: 1100px;
}

/* BARRE DE NAVIGATION */
nav {
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;

    background-color: #111D13;
}

.nav-raccourcis {
    font-family: "WorkSans", "ui-rounded";
    display: flex;
    flex-direction: row;
}

/* Correspond au logo "Bracket." */
.logo {
    font-family: 'Unna', monospace;
    font-size: 40px;

    text-decoration: none;
    margin: 0;
}

nav a {
    color: white;
    margin-right: 10px;
}

/* PAGE D'ACCUEIL: À L'AFFICHE */
.starred {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #C4DAC6;
}

.starred-gauche {
    display: flex;
    max-width: 50%;
    align-items: center;
}

.starred-droite {
    padding: 5% 2% 10% 0;
    max-width: 50%;

    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
}

.starred-droite > h1 {
    font-family: "Unna", monospace;
    font-size: 100px;
    margin: 2px;
}

.starred-droite > h2 {
    font-family: "WorkSans", ui-rounded;
    font-weight: 200;
    margin: 0;
}

.starred-droite > small {
    font-family: "WorkSans", ui-rounded;
    font-weight: 50;
    font-size: 15px;
    margin: 0;
}

.starred-droite > p {
    padding-left: 30%;
}

.starred img {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}

.starred-buttons {
    margin: 2px;
    padding: 2px 0;
}

.starred-buttons > button {
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 12.5px;
}

.starred-buttons > button#acheter {
    background: black;
}

.starred-buttons > button#en-savoir-plus {
    background: #58675B;
}

.starred-buttons > button#en-savoir-plus:hover, .starred-buttons > button#acheter:hover {
    box-shadow: 0 0 0 2px black;
    color: black;
    background: transparent;
}

.wrapper {
    display: grid;
    grid-template-columns: 8cm 8cm 8cm 8cm;
    grid-template-rows: 8cm 8cm 8cm 8cm;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 30px;
}


.produit {
    text-align: left;
    border-color: #cacaca;
    border-style: solid;
    border-radius: 20px;
}

a.produit-a {
    text-decoration: none;
    color: black;
}

.haut, .bas {
    height: 50%;
}

.haut {
    border-style: solid;
    border-top: rgba(107, 107, 107, 0.43);
    border-left: rgba(107, 107, 107, 0.43);
    border-right: rgba(107, 107, 107, 0.43);
    text-align: center;
}

.bas {
    padding: 0 2%;
    flex-direction: column;
    justify-content: space-evenly;
}

.haut img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.title-product-pane {
    font-family: "Unna", monospace;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.info-product-pane {
    font-family: "WorkSans", ui-rounded;
    font-size: 15px;
    font-weight: 200;
    margin: 0;
}

.bottom-product-pane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button#acheter {
    background: black;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
}

button#acheter:hover {
    box-shadow: 0 0 0 2px black;
    color: black;
    background: transparent;
}

.imageAffiche{
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-left: 150px;
}

/* Bootstrap alerts */
/* https://getbootstrap.com/docs/3.4/components/#alerts */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* FORMULAIRE */

.InputAddOn {
    display: flex;
    margin-bottom: 1.5em;
}

.InputAddOn-field {
    flex: 1;
    margin-right: 10px;
}

.InputAddOn-field:not(:first-child) {
    border-left: 0;
}

.InputAddOn-field:not(:last-child) {
    border-right: 1px solid #e5e5e5;
    border-radius: 2px;
}

.InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
}

.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px;
}

.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0;
}


/* LIEN NAVBAR */
.lien {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    margin-left: 15px;
}

.lien img {
    width: 30px;
    height: 30px;
}

fieldset {
    width: 40%;
    margin-left: 7%;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fieldsetLeft {
    float: left;
    margin-top: 0;
    margin-right: 10px;
}

.buttonForm {
    text-align: center;
}

.buttonForm button input {
    display: none;
}


/* Bouton dans le formulaire */
.buttonOnForm {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonOnForm:hover {
    background-color: rgb(249, 250, 251);
}

.buttonOnForm:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.buttonOnForm:focus-visible {
    box-shadow: none;
}